@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #e8c97e;
}

.theme-blue {
  --color-primary: #3b82f6;
}

@layer base {
  body {
    @apply bg-background text-white font-sans m-0 p-0 antialiased;
  }
}

/* Base custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
